*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    width: 100vw;
    height: 35px;
    background-color: rgb(159, 158, 158);
    position: sticky;
    top: 0px;
}
#mainlist{
    display: flex;
    list-style: none;
    box-shadow: 10px;
}
.li{
    background-color: rgb(18, 18, 159);
    color: white;
    width: 60px;
    height: 15px;
    padding: 10px;
    text-align: center;
}
.li:hover{
    background-color: rgb(142, 12, 84);
}
#sublist{
    color: white;
    list-style: none;
    text-align: left;
    width: 60px;
    margin-top: 5px;
    margin-left: -10px;
    font-size: 14px;
    display: none;
}
.sli:hover{
    background-color: rgb(142, 12, 84);
}
#opt:hover #sublist{
    background-color: rgb(18, 18, 159);
    display: block;
}
#imp{
    margin-left:895px;
}